<section class="wrapper" style="margin-top:80px;">

	<h1><%= @game.name %></h1>
	<p><%=@game.description%></p>









	

</section>

<div id="back" style="text-align:left">
    <div class="container" style="text-align:left">
     <p class="muted credit" style="text-align:left">
		<%= link_to the310_path() do %>
		<i class="fa fa-arrow-left fa-3x"></i>
		<% end %>
		

     </p>
    </div>
</div>